.container {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 6;
  grid-template-areas: 
  "header"
  "blok1"
  "blok2"
  "blok3"
  "blok4"
  "footer";
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
  row-gap: 30px;
  background-color: rgb(255, 166, 0);
}

.container1 {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 3;
  grid-template-areas: 
  "header"
  "sporten"
  "footer";
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
  row-gap: 30px;
  background-color: rgb(255, 166, 0);
}

.container2 {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 3;
  grid-template-areas: 
  "header"
  "games"
  "footer";
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
  row-gap: 30px;
  background-color: rgb(255, 166, 0);
}

.container3 {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 4;
  grid-template-areas: 
  "header"
  "googlemap"
  "tabel"
  "footer";
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
  row-gap: 100px;
  background-color: rgb(255, 166, 0);
}

.container4 {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 3;
  grid-template-areas: 
  "header"
  "speluitleg"
  "footer";
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
  row-gap: 30px;
  background-color: rgb(255, 166, 0);
}

.container5 {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 5;
  grid-template-areas: 
  "header"
  "speluitleg"
  "tabellen"
  "speluitleg2"
  "footer";
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
  row-gap: 30px;
  background-color: rgb(255, 166, 0);
}


.logo {
  font-size: 3em;
  color: White;
}

.naam {
  color: black;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 40px;
  box-shadow: 0 1px 8px rgb(20, 19, 19);
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

header a {
  text-decoration: none;
  color: rgb(50, 50, 50);
  transition: all 0.3s ease 0s;
}

header a:hover {
  color: #b2dfdb;
}

.header-left {
  flex:1 
}

.header-right {
  flex:1
}

.tabellen {
  display: flex;
  justify-content: flex-end;
  padding: 15px 40px;
  gap: 10px;
  justify-content: space-between;
  box-shadow: 0 1px 8px rgb(20, 19, 19);
}

.tabel1 {
  flex:1
}

.tabel2 {
  flex:1
}

/* CSS voor dropdown menu */

.header-right ul li ul.dropdown-menu {
  position: absolute;
  background-color: rgb(255, 166, 0);
  padding: 5px;
  margin: 2px;
  border: #021603 1px solid;
  visibility: hidden;
  opacity: 0;
}

.header-right ul li ul.dropdown-menu li  {
  color: #aa6804;
  font-size: 14px;
  width: 100%;
  padding: 10px 0;
}

.header-right ul li ul.dropdown-menu li:hover {
  color:#b2dfdb ;
}

.header-right ul li:hover ul.dropdown-menu {
  visibility: visible;
  opacity: 1;
}




.foto1 {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.blok2 {
  display: flex;
  text-align: justify;
  gap: 100px;
}

.blok2 p:first-of-type {
  padding-right: 20px;
}

article {
  border: 1px solid black;
  background-color: rgb(255, 225, 72);
  padding: 20px;
  flex: 1
}

.media {
  display: flex;
  gap: 20px;
  
}

.media div {
  flex: 1;
}

.blok4 {
  display: flex;
  text-align: justify;
  gap: 20px;
}

.blok4 a {
  color: black;
  text-decoration: none;
  border: rgb(8, 8, 8) solid 3px;
  background-color: rgb(255, 225, 72); 
}

.blok4 a:hover {
  background-color: #b2dfdb;
}

footer {
  box-shadow: 0 1px 8px rgb(20, 19, 19);
  margin-bottom: 0;
  padding-bottom: 0;
}

footer ul {
  font-size: 1em;
  display: flex;
  text-align: center;
  padding-bottom: 0;
}

footer ul li {
  flex:1;
  list-style: none;
}

footer ul li a {
  text-decoration: none;
  color: black;
}

footer ul li a:hover {
  color: #ddd;
}

.active {
  color: rgb(248, 248, 250);
}

/* hier begint css voor content bordspellen */

.tabel1 { border: 1px solid rgb(10, 10, 10); border-collapse: collapse; }
.tabel1 caption { font-variant: small-caps; font-size: 1.3em; }
.tabel1 thead { background-color: rgb(233, 229, 229); }
.tabel1 th { text-align: left; font-weight: bold; padding: .5em; }
.tabel1 td { border-bottom: 1px solid lightgrey; padding: .5em; }
.tabel1 tfoot { font-size: .8rem; text-align: center; border-top: 2px solid darkgrey; }

.tabel2 { border: 1px solid rgb(10, 10, 10); border-collapse: collapse; }
.tabel2 caption { font-variant: small-caps; font-size: 1.3em; }
.tabel2 thead { background-color: rgb(233, 229, 229); }
.tabel2 th { text-align: left; font-weight: bold; padding: .5em; }
.tabel2 td { border-bottom: 1px solid lightgrey; padding: .5em; }
.tabel2 tfoot { font-size: .8rem; text-align: center; border-top: 2px solid darkgrey; }




/* hier begint css voor content contact formulier */

input[type=text], select, textarea {
  background-color: #ddd;
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #aa6804;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #021603;
}

