header {
    background-color: rgb(9, 108, 27) ;
    overflow: hidden;
    position: fixed;
    width: 100%;
    margin: -10px;
    padding: 20px 10px;
    top: 0;
  }


ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 4em;
}
  
  /* Style the header links */
header a {
    float: left;
    color: azure;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Logo link stylen */ 
header a.logo {
    color: azure;
    font-size: 45px;
    font-weight: bold;
    padding: 1.5%;
  }
.naam {
  color:rgb(169, 255, 30); ;
}
  
  /* verander achtergrond als je erover heen gaat */
header a:hover {
    background-color: rgb(129, 135, 1);
    color: azure;
  }
  
  /* Style the active/current link*/
header a.active {
    background-color: rgb(169, 255, 30);
    color: rgb(4, 3, 3);
  }
  
  /* Float the link section to the right */
.header-right {
    float: right;
  }

/* container instellen */
.container {
  background-color: rgb(101, 254, 119);
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 3em;
  padding: 4em;
}

/* foto1 instellen en centreren */
img.foto1 {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  max-width: 500px;
  max-height: 300px;
}

/* section block2 content naast elkaar zetten */
.block2 {
  width: 100%;
  display: flex;
  
}

article {
  width: 50%;
  margin: 10px;
  padding: 10px;
  border: solid #9a9a9a 1px;
}
 

/* foto en video naast elkaar plaatsen */
.media {
  display: flex;
}
.media div img {
  max-width: 200px;
  max-height: 200px;
  padding: 2em;
}

.media div iframe {
  max-width: 200px;
  max-height: 200px;
  padding: 2em;
  border: none;
}

/* block4 3 links incl foto's naast elkaar maken*/
.block4 {
  display: flex;
}

.block4 a {
  color: black;
  margin: 10px;
  padding: 10px;
  border: solid #9a9a9a 1px;
  text-decoration: none;
}

.block4 a:hover {
  background-color: rgb(9, 108, 27);
}
  

/* footer buiten de container om maken */

footer{
  color: azure;
  text-align: center;
  background-color: rgb(9, 108, 27) ;
  width: 100%;
  padding:5px;
  
}

footer a {
  color: azure;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  padding: 5px;
}

footer a:hover {
  background-color: rgb(129, 135, 1);
  color: azure;
}





  /* Media querie voor responsive design 320px */
@media only screen and (max-width: 320px) {










/* Media querie voor responsive design 768px */
@media screen and (max-width: 768px) {

}






/* Media querie voor responsive design 1440px */
@media screen and (max-width: 1440px) {

}

